body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: yellow;
}
.material-icons-outlined{
    text-decoration: none;
    color: aqua;
}
.material-icons-outlined:hover{
    text-shadow: 0 0 5px aqua, 0 0 10px aqua, 0 0 15px aqua, 0 0 20px aqua, 0 0 30px aqua, 0 0 40px aqua, 0 0 55px aqua, 0 0 75px aqua;
    transition: 0,5s;
    color: aquamarine;
}